<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel liquidos_administrados add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN paciente_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_paciente_id}  r-vertical-field" 
	data-signal-error-for="paciente_id{$id}" {$required_attr_paciente_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="paciente_id" data-fieldname="paciente_id" >

	<label class="r-edit-label control-label" for="{$labelfor_paciente_id}">
		{BEGIN paciente_id_label}{$label liquidos_administrados paciente_id }{END paciente_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$paciente_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="paciente_id" {$tooltipAttr liquidos_administrados paciente_id } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados paciente_id }		</div>
	</div>
</div>


{END paciente_id_fieldblock}
											
{BEGIN fecha_hora_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_hora}  r-vertical-field" 
	data-signal-error-for="fecha_hora{$id}" {$required_attr_fecha_hora}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="fecha_hora" data-fieldname="fecha_hora" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha_hora}">
		{BEGIN fecha_hora_label}{$label liquidos_administrados fecha_hora }{END fecha_hora_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_hora_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_hora" {$tooltipAttr liquidos_administrados fecha_hora } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados fecha_hora }		</div>
	</div>
</div>


{END fecha_hora_fieldblock}
											
{BEGIN cantidad_ordenada_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad_ordenada}  r-vertical-field" 
	data-signal-error-for="cantidad_ordenada{$id}" {$required_attr_cantidad_ordenada}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cantidad_ordenada" data-fieldname="cantidad_ordenada" >

	<label class="r-edit-label control-label" for="{$labelfor_cantidad_ordenada}">
		{BEGIN cantidad_ordenada_label}{$label liquidos_administrados cantidad_ordenada }{END cantidad_ordenada_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cantidad_ordenada_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cantidad_ordenada" {$tooltipAttr liquidos_administrados cantidad_ordenada } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados cantidad_ordenada }		</div>
	</div>
</div>


{END cantidad_ordenada_fieldblock}
											
{BEGIN cantidad_administrada_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad_administrada}  r-vertical-field" 
	data-signal-error-for="cantidad_administrada{$id}" {$required_attr_cantidad_administrada}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="cantidad_administrada" data-fieldname="cantidad_administrada" >

	<label class="r-edit-label control-label" for="{$labelfor_cantidad_administrada}">
		{BEGIN cantidad_administrada_label}{$label liquidos_administrados cantidad_administrada }{END cantidad_administrada_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cantidad_administrada_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cantidad_administrada" {$tooltipAttr liquidos_administrados cantidad_administrada } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados cantidad_administrada }		</div>
	</div>
</div>


{END cantidad_administrada_fieldblock}
											
{BEGIN via_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_via}  r-vertical-field" 
	data-signal-error-for="via{$id}" {$required_attr_via}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="via" data-fieldname="via" >

	<label class="r-edit-label control-label" for="{$labelfor_via}">
		{BEGIN via_label}{$label liquidos_administrados via }{END via_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$via_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="via" {$tooltipAttr liquidos_administrados via } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados via }		</div>
	</div>
</div>


{END via_fieldblock}
											
{BEGIN tipo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo}  r-vertical-field" 
	data-signal-error-for="tipo{$id}" {$required_attr_tipo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="tipo" data-fieldname="tipo" >

	<label class="r-edit-label control-label" for="{$labelfor_tipo}">
		{BEGIN tipo_label}{$label liquidos_administrados tipo }{END tipo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tipo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tipo" {$tooltipAttr liquidos_administrados tipo } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados tipo }		</div>
	</div>
</div>


{END tipo_fieldblock}
											
{BEGIN enfermero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_enfermero}  r-vertical-field" 
	data-signal-error-for="enfermero{$id}" {$required_attr_enfermero}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="enfermero" data-fieldname="enfermero" >

	<label class="r-edit-label control-label" for="{$labelfor_enfermero}">
		{BEGIN enfermero_label}{$label liquidos_administrados enfermero }{END enfermero_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$enfermero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="enfermero" {$tooltipAttr liquidos_administrados enfermero } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados enfermero }		</div>
	</div>
</div>


{END enfermero_fieldblock}
											
{BEGIN hora_inicial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hora_inicial}  r-vertical-field" 
	data-signal-error-for="hora_inicial{$id}" {$required_attr_hora_inicial}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="hora_inicial" data-fieldname="hora_inicial" >

	<label class="r-edit-label control-label" for="{$labelfor_hora_inicial}">
		{BEGIN hora_inicial_label}{$label liquidos_administrados hora_inicial }{END hora_inicial_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hora_inicial_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hora_inicial" {$tooltipAttr liquidos_administrados hora_inicial } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados hora_inicial }		</div>
	</div>
</div>


{END hora_inicial_fieldblock}
											
{BEGIN hora_final_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hora_final}  r-vertical-field" 
	data-signal-error-for="hora_final{$id}" {$required_attr_hora_final}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="hora_final" data-fieldname="hora_final" >

	<label class="r-edit-label control-label" for="{$labelfor_hora_final}">
		{BEGIN hora_final_label}{$label liquidos_administrados hora_final }{END hora_final_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hora_final_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hora_final" {$tooltipAttr liquidos_administrados hora_final } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados hora_final }		</div>
	</div>
</div>


{END hora_final_fieldblock}
											
{BEGIN liquido_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_liquido}  r-vertical-field" 
	data-signal-error-for="liquido{$id}" {$required_attr_liquido}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="liquido" data-fieldname="liquido" >

	<label class="r-edit-label control-label" for="{$labelfor_liquido}">
		{BEGIN liquido_label}{$label liquidos_administrados liquido }{END liquido_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$liquido_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="liquido" {$tooltipAttr liquidos_administrados liquido } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados liquido }		</div>
	</div>
</div>


{END liquido_fieldblock}
											
{BEGIN cantidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad}  r-vertical-field" 
	data-signal-error-for="cantidad{$id}" {$required_attr_cantidad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cantidad" data-fieldname="cantidad" >

	<label class="r-edit-label control-label" for="{$labelfor_cantidad}">
		{BEGIN cantidad_label}{$label liquidos_administrados cantidad }{END cantidad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cantidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cantidad" {$tooltipAttr liquidos_administrados cantidad } >
		<div class="text-muted" >
		{$tooltip liquidos_administrados cantidad }		</div>
	</div>
</div>


{END cantidad_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
