<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel pacientes search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_paciente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_paciente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_paciente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_paciente" data-fieldname="id_paciente" >


	<label class="r-search-label control-label" for="{$labelfor_id_paciente}">
		{$label pacientes id_paciente }	</label>
	<div class="r-search-option">
		{$searchtype_id_paciente}
	</div>
	<div class="r-search-field">
		{$id_paciente_editcontrol}	</div>
	<div class="r-search-field">
		{$id_paciente_editcontrol1}
	</div>
	
</div>

{END id_paciente_fieldblock}
											
{BEGIN tipo_documento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_documento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipo_documento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="tipo_documento" data-fieldname="tipo_documento" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_documento}">
		{$label pacientes tipo_documento }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_documento}
	</div>
	<div class="r-search-field">
		{$tipo_documento_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_documento_editcontrol1}
	</div>
	
</div>

{END tipo_documento_fieldblock}
											
{BEGIN identificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_identificacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="identificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="identificacion" data-fieldname="identificacion" >


	<label class="r-search-label control-label" for="{$labelfor_identificacion}">
		{$label pacientes identificacion }	</label>
	<div class="r-search-option">
		{$searchtype_identificacion}
	</div>
	<div class="r-search-field">
		{$identificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$identificacion_editcontrol1}
	</div>
	
</div>

{END identificacion_fieldblock}
											
{BEGIN primer_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_primer_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="primer_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="primer_nombre" data-fieldname="primer_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_primer_nombre}">
		{$label pacientes primer_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_primer_nombre}
	</div>
	<div class="r-search-field">
		{$primer_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$primer_nombre_editcontrol1}
	</div>
	
</div>

{END primer_nombre_fieldblock}
											
{BEGIN segundo_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_segundo_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="segundo_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="segundo_nombre" data-fieldname="segundo_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_segundo_nombre}">
		{$label pacientes segundo_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_segundo_nombre}
	</div>
	<div class="r-search-field">
		{$segundo_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$segundo_nombre_editcontrol1}
	</div>
	
</div>

{END segundo_nombre_fieldblock}
											
{BEGIN primer_apellido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_primer_apellido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="primer_apellido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="primer_apellido" data-fieldname="primer_apellido" >


	<label class="r-search-label control-label" for="{$labelfor_primer_apellido}">
		{$label pacientes primer_apellido }	</label>
	<div class="r-search-option">
		{$searchtype_primer_apellido}
	</div>
	<div class="r-search-field">
		{$primer_apellido_editcontrol}	</div>
	<div class="r-search-field">
		{$primer_apellido_editcontrol1}
	</div>
	
</div>

{END primer_apellido_fieldblock}
											
{BEGIN segundo_apellido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_segundo_apellido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="segundo_apellido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="segundo_apellido" data-fieldname="segundo_apellido" >


	<label class="r-search-label control-label" for="{$labelfor_segundo_apellido}">
		{$label pacientes segundo_apellido }	</label>
	<div class="r-search-option">
		{$searchtype_segundo_apellido}
	</div>
	<div class="r-search-field">
		{$segundo_apellido_editcontrol}	</div>
	<div class="r-search-field">
		{$segundo_apellido_editcontrol1}
	</div>
	
</div>

{END segundo_apellido_fieldblock}
											
{BEGIN nombre_completo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_completo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_completo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="nombre_completo" data-fieldname="nombre_completo" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_completo}">
		{$label pacientes nombre_completo }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_completo}
	</div>
	<div class="r-search-field">
		{$nombre_completo_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_completo_editcontrol1}
	</div>
	
</div>

{END nombre_completo_fieldblock}
											
{BEGIN edad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="edad" data-fieldname="edad" >


	<label class="r-search-label control-label" for="{$labelfor_edad}">
		{$label pacientes edad }	</label>
	<div class="r-search-option">
		{$searchtype_edad}
	</div>
	<div class="r-search-field">
		{$edad_editcontrol}	</div>
	<div class="r-search-field">
		{$edad_editcontrol1}
	</div>
	
</div>

{END edad_fieldblock}
											
{BEGIN sexo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sexo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sexo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="sexo" data-fieldname="sexo" >


	<label class="r-search-label control-label" for="{$labelfor_sexo}">
		{$label pacientes sexo }	</label>
	<div class="r-search-option">
		{$searchtype_sexo}
	</div>
	<div class="r-search-field">
		{$sexo_editcontrol}	</div>
	<div class="r-search-field">
		{$sexo_editcontrol1}
	</div>
	
</div>

{END sexo_fieldblock}
											
{BEGIN estado_civil_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado_civil}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado_civil{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="estado_civil" data-fieldname="estado_civil" >


	<label class="r-search-label control-label" for="{$labelfor_estado_civil}">
		{$label pacientes estado_civil }	</label>
	<div class="r-search-option">
		{$searchtype_estado_civil}
	</div>
	<div class="r-search-field">
		{$estado_civil_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_civil_editcontrol1}
	</div>
	
</div>

{END estado_civil_fieldblock}
											
{BEGIN telefono_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefono}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="telefono{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="telefono" data-fieldname="telefono" >


	<label class="r-search-label control-label" for="{$labelfor_telefono}">
		{$label pacientes telefono }	</label>
	<div class="r-search-option">
		{$searchtype_telefono}
	</div>
	<div class="r-search-field">
		{$telefono_editcontrol}	</div>
	<div class="r-search-field">
		{$telefono_editcontrol1}
	</div>
	
</div>

{END telefono_fieldblock}
											
{BEGIN direccion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_direccion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="direccion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="direccion" data-fieldname="direccion" >


	<label class="r-search-label control-label" for="{$labelfor_direccion}">
		{$label pacientes direccion }	</label>
	<div class="r-search-option">
		{$searchtype_direccion}
	</div>
	<div class="r-search-field">
		{$direccion_editcontrol}	</div>
	<div class="r-search-field">
		{$direccion_editcontrol1}
	</div>
	
</div>

{END direccion_fieldblock}
											
{BEGIN ciudad_mpio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ciudad_mpio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ciudad_mpio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="ciudad_mpio" data-fieldname="ciudad_mpio" >


	<label class="r-search-label control-label" for="{$labelfor_ciudad_mpio}">
		{$label pacientes ciudad_mpio }	</label>
	<div class="r-search-option">
		{$searchtype_ciudad_mpio}
	</div>
	<div class="r-search-field">
		{$ciudad_mpio_editcontrol}	</div>
	<div class="r-search-field">
		{$ciudad_mpio_editcontrol1}
	</div>
	
</div>

{END ciudad_mpio_fieldblock}
											
{BEGIN entidad_eapb_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entidad_eapb}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entidad_eapb{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="entidad_eapb" data-fieldname="entidad_eapb" >


	<label class="r-search-label control-label" for="{$labelfor_entidad_eapb}">
		{$label pacientes entidad_eapb }	</label>
	<div class="r-search-option">
		{$searchtype_entidad_eapb}
	</div>
	<div class="r-search-field">
		{$entidad_eapb_editcontrol}	</div>
	<div class="r-search-field">
		{$entidad_eapb_editcontrol1}
	</div>
	
</div>

{END entidad_eapb_fieldblock}
											
{BEGIN riesgo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_riesgo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="riesgo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="riesgo" data-fieldname="riesgo" >


	<label class="r-search-label control-label" for="{$labelfor_riesgo}">
		{$label pacientes riesgo }	</label>
	<div class="r-search-option">
		{$searchtype_riesgo}
	</div>
	<div class="r-search-field">
		{$riesgo_editcontrol}	</div>
	<div class="r-search-field">
		{$riesgo_editcontrol1}
	</div>
	
</div>

{END riesgo_fieldblock}
											
{BEGIN cama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cama}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="cama" data-fieldname="cama" >


	<label class="r-search-label control-label" for="{$labelfor_cama}">
		{$label pacientes cama }	</label>
	<div class="r-search-option">
		{$searchtype_cama}
	</div>
	<div class="r-search-field">
		{$cama_editcontrol}	</div>
	<div class="r-search-field">
		{$cama_editcontrol1}
	</div>
	
</div>

{END cama_fieldblock}
											
{BEGIN servicio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_servicio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="servicio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="servicio" data-fieldname="servicio" >


	<label class="r-search-label control-label" for="{$labelfor_servicio}">
		{$label pacientes servicio }	</label>
	<div class="r-search-option">
		{$searchtype_servicio}
	</div>
	<div class="r-search-field">
		{$servicio_editcontrol}	</div>
	<div class="r-search-field">
		{$servicio_editcontrol1}
	</div>
	
</div>

{END servicio_fieldblock}
											
{BEGIN motivo_consulta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_motivo_consulta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="motivo_consulta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="motivo_consulta" data-fieldname="motivo_consulta" >


	<label class="r-search-label control-label" for="{$labelfor_motivo_consulta}">
		{$label pacientes motivo_consulta }	</label>
	<div class="r-search-option">
		{$searchtype_motivo_consulta}
	</div>
	<div class="r-search-field">
		{$motivo_consulta_editcontrol}	</div>
	<div class="r-search-field">
		{$motivo_consulta_editcontrol1}
	</div>
	
</div>

{END motivo_consulta_fieldblock}
											
{BEGIN turno_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_turno}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="turno{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="turno" data-fieldname="turno" >


	<label class="r-search-label control-label" for="{$labelfor_turno}">
		{$label pacientes turno }	</label>
	<div class="r-search-option">
		{$searchtype_turno}
	</div>
	<div class="r-search-field">
		{$turno_editcontrol}	</div>
	<div class="r-search-field">
		{$turno_editcontrol1}
	</div>
	
</div>

{END turno_fieldblock}
											
{BEGIN fecha_ingreso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_ingreso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_ingreso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="fecha_ingreso" data-fieldname="fecha_ingreso" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_ingreso}">
		{$label pacientes fecha_ingreso }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_ingreso}
	</div>
	<div class="r-search-field">
		{$fecha_ingreso_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_ingreso_editcontrol1}
	</div>
	
</div>

{END fecha_ingreso_fieldblock}
											
{BEGIN creado_en_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_creado_en}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="creado_en{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="creado_en" data-fieldname="creado_en" >


	<label class="r-search-label control-label" for="{$labelfor_creado_en}">
		{$label pacientes creado_en }	</label>
	<div class="r-search-option">
		{$searchtype_creado_en}
	</div>
	<div class="r-search-field">
		{$creado_en_editcontrol}	</div>
	<div class="r-search-field">
		{$creado_en_editcontrol1}
	</div>
	
</div>

{END creado_en_fieldblock}
											
{BEGIN actualizado_en_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_actualizado_en}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="actualizado_en{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="actualizado_en" data-fieldname="actualizado_en" >


	<label class="r-search-label control-label" for="{$labelfor_actualizado_en}">
		{$label pacientes actualizado_en }	</label>
	<div class="r-search-option">
		{$searchtype_actualizado_en}
	</div>
	<div class="r-search-field">
		{$actualizado_en_editcontrol}	</div>
	<div class="r-search-field">
		{$actualizado_en_editcontrol1}
	</div>
	
</div>

{END actualizado_en_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
