<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel registros_glucometria add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN paciente_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_paciente_id}  r-vertical-field" 
	data-signal-error-for="paciente_id{$id}" {$required_attr_paciente_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="paciente_id" data-fieldname="paciente_id" >

	<label class="r-edit-label control-label" for="{$labelfor_paciente_id}">
		{BEGIN paciente_id_label}{$label registros_glucometria paciente_id }{END paciente_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$paciente_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="paciente_id" {$tooltipAttr registros_glucometria paciente_id } >
		<div class="text-muted" >
		{$tooltip registros_glucometria paciente_id }		</div>
	</div>
</div>


{END paciente_id_fieldblock}
											
{BEGIN fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha}  r-vertical-field" 
	data-signal-error-for="fecha{$id}" {$required_attr_fecha}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="fecha" data-fieldname="fecha" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha}">
		{BEGIN fecha_label}{$label registros_glucometria fecha }{END fecha_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha" {$tooltipAttr registros_glucometria fecha } >
		<div class="text-muted" >
		{$tooltip registros_glucometria fecha }		</div>
	</div>
</div>


{END fecha_fieldblock}
											
{BEGIN hora_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hora}  r-vertical-field" 
	data-signal-error-for="hora{$id}" {$required_attr_hora}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="hora" data-fieldname="hora" >

	<label class="r-edit-label control-label" for="{$labelfor_hora}">
		{BEGIN hora_label}{$label registros_glucometria hora }{END hora_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hora_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hora" {$tooltipAttr registros_glucometria hora } >
		<div class="text-muted" >
		{$tooltip registros_glucometria hora }		</div>
	</div>
</div>


{END hora_fieldblock}
											
{BEGIN glucometria_pre_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_glucometria_pre}  r-vertical-field" 
	data-signal-error-for="glucometria_pre{$id}" {$required_attr_glucometria_pre}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="glucometria_pre" data-fieldname="glucometria_pre" >

	<label class="r-edit-label control-label" for="{$labelfor_glucometria_pre}">
		{BEGIN glucometria_pre_label}{$label registros_glucometria glucometria_pre }{END glucometria_pre_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$glucometria_pre_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="glucometria_pre" {$tooltipAttr registros_glucometria glucometria_pre } >
		<div class="text-muted" >
		{$tooltip registros_glucometria glucometria_pre }		</div>
	</div>
</div>


{END glucometria_pre_fieldblock}
											
{BEGIN glucometria_post_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_glucometria_post}  r-vertical-field" 
	data-signal-error-for="glucometria_post{$id}" {$required_attr_glucometria_post}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="glucometria_post" data-fieldname="glucometria_post" >

	<label class="r-edit-label control-label" for="{$labelfor_glucometria_post}">
		{BEGIN glucometria_post_label}{$label registros_glucometria glucometria_post }{END glucometria_post_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$glucometria_post_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="glucometria_post" {$tooltipAttr registros_glucometria glucometria_post } >
		<div class="text-muted" >
		{$tooltip registros_glucometria glucometria_post }		</div>
	</div>
</div>


{END glucometria_post_fieldblock}
											
{BEGIN valor_correccion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_correccion}  r-vertical-field" 
	data-signal-error-for="valor_correccion{$id}" {$required_attr_valor_correccion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="valor_correccion" data-fieldname="valor_correccion" >

	<label class="r-edit-label control-label" for="{$labelfor_valor_correccion}">
		{BEGIN valor_correccion_label}{$label registros_glucometria valor_correccion }{END valor_correccion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$valor_correccion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="valor_correccion" {$tooltipAttr registros_glucometria valor_correccion } >
		<div class="text-muted" >
		{$tooltip registros_glucometria valor_correccion }		</div>
	</div>
</div>


{END valor_correccion_fieldblock}
											
{BEGIN nota_enfermeria_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nota_enfermeria}  r-vertical-field" 
	data-signal-error-for="nota_enfermeria{$id}" {$required_attr_nota_enfermeria}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="nota_enfermeria" data-fieldname="nota_enfermeria" >

	<label class="r-edit-label control-label" for="{$labelfor_nota_enfermeria}">
		{BEGIN nota_enfermeria_label}{$label registros_glucometria nota_enfermeria }{END nota_enfermeria_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$nota_enfermeria_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nota_enfermeria" {$tooltipAttr registros_glucometria nota_enfermeria } >
		<div class="text-muted" >
		{$tooltip registros_glucometria nota_enfermeria }		</div>
	</div>
</div>


{END nota_enfermeria_fieldblock}
											
{BEGIN creado_en_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_creado_en}  r-vertical-field" 
	data-signal-error-for="creado_en{$id}" {$required_attr_creado_en}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="creado_en" data-fieldname="creado_en" >

	<label class="r-edit-label control-label" for="{$labelfor_creado_en}">
		{BEGIN creado_en_label}{$label registros_glucometria creado_en }{END creado_en_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$creado_en_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="creado_en" {$tooltipAttr registros_glucometria creado_en } >
		<div class="text-muted" >
		{$tooltip registros_glucometria creado_en }		</div>
	</div>
</div>


{END creado_en_fieldblock}
											
{BEGIN actualizado_en_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_actualizado_en}  r-vertical-field" 
	data-signal-error-for="actualizado_en{$id}" {$required_attr_actualizado_en}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="actualizado_en" data-fieldname="actualizado_en" >

	<label class="r-edit-label control-label" for="{$labelfor_actualizado_en}">
		{BEGIN actualizado_en_label}{$label registros_glucometria actualizado_en }{END actualizado_en_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$actualizado_en_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="actualizado_en" {$tooltipAttr registros_glucometria actualizado_en } >
		<div class="text-muted" >
		{$tooltip registros_glucometria actualizado_en }		</div>
	</div>
</div>


{END actualizado_en_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
