<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel tarjeta_medicamentos_completa add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN paciente_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_paciente_id}  r-vertical-field" 
	data-signal-error-for="paciente_id{$id}" {$required_attr_paciente_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="paciente_id" data-fieldname="paciente_id" >

	<label class="r-edit-label control-label" for="{$labelfor_paciente_id}">
		{BEGIN paciente_id_label}{$label tarjeta_medicamentos_completa paciente_id }{END paciente_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$paciente_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="paciente_id" {$tooltipAttr tarjeta_medicamentos_completa paciente_id } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa paciente_id }		</div>
	</div>
</div>


{END paciente_id_fieldblock}
											
{BEGIN cama_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cama}  r-vertical-field" 
	data-signal-error-for="cama{$id}" {$required_attr_cama}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="cama" data-fieldname="cama" >

	<label class="r-edit-label control-label" for="{$labelfor_cama}">
		{BEGIN cama_label}{$label tarjeta_medicamentos_completa cama }{END cama_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cama_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cama" {$tooltipAttr tarjeta_medicamentos_completa cama } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa cama }		</div>
	</div>
</div>


{END cama_fieldblock}
											
{BEGIN hc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hc}  r-vertical-field" 
	data-signal-error-for="hc{$id}" {$required_attr_hc}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="hc" data-fieldname="hc" >

	<label class="r-edit-label control-label" for="{$labelfor_hc}">
		{BEGIN hc_label}{$label tarjeta_medicamentos_completa hc }{END hc_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hc" {$tooltipAttr tarjeta_medicamentos_completa hc } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa hc }		</div>
	</div>
</div>


{END hc_fieldblock}
											
{BEGIN liquidos_endovenosos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_liquidos_endovenosos}  r-vertical-field" 
	data-signal-error-for="liquidos_endovenosos{$id}" {$required_attr_liquidos_endovenosos}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="liquidos_endovenosos" data-fieldname="liquidos_endovenosos" >

	<label class="r-edit-label control-label" for="{$labelfor_liquidos_endovenosos}">
		{BEGIN liquidos_endovenosos_label}{$label tarjeta_medicamentos_completa liquidos_endovenosos }{END liquidos_endovenosos_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$liquidos_endovenosos_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="liquidos_endovenosos" {$tooltipAttr tarjeta_medicamentos_completa liquidos_endovenosos } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa liquidos_endovenosos }		</div>
	</div>
</div>


{END liquidos_endovenosos_fieldblock}
											
{BEGIN mnb_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mnb}  r-vertical-field" 
	data-signal-error-for="mnb{$id}" {$required_attr_mnb}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="mnb" data-fieldname="mnb" >

	<label class="r-edit-label control-label" for="{$labelfor_mnb}">
		{BEGIN mnb_label}{$label tarjeta_medicamentos_completa mnb }{END mnb_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$mnb_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="mnb" {$tooltipAttr tarjeta_medicamentos_completa mnb } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa mnb }		</div>
	</div>
</div>


{END mnb_fieldblock}
											
{BEGIN alergias_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alergias}  r-vertical-field" 
	data-signal-error-for="alergias{$id}" {$required_attr_alergias}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="alergias" data-fieldname="alergias" >

	<label class="r-edit-label control-label" for="{$labelfor_alergias}">
		{BEGIN alergias_label}{$label tarjeta_medicamentos_completa alergias }{END alergias_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$alergias_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="alergias" {$tooltipAttr tarjeta_medicamentos_completa alergias } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa alergias }		</div>
	</div>
</div>


{END alergias_fieldblock}
											
{BEGIN fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_inicio}  r-vertical-field" 
	data-signal-error-for="fecha_inicio{$id}" {$required_attr_fecha_inicio}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="fecha_inicio" data-fieldname="fecha_inicio" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha_inicio}">
		{BEGIN fecha_inicio_label}{$label tarjeta_medicamentos_completa fecha_inicio }{END fecha_inicio_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_inicio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_inicio" {$tooltipAttr tarjeta_medicamentos_completa fecha_inicio } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa fecha_inicio }		</div>
	</div>
</div>


{END fecha_inicio_fieldblock}
											
{BEGIN medicamento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_medicamento}  r-vertical-field" 
	data-signal-error-for="medicamento{$id}" {$required_attr_medicamento}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="medicamento" data-fieldname="medicamento" >

	<label class="r-edit-label control-label" for="{$labelfor_medicamento}">
		{BEGIN medicamento_label}{$label tarjeta_medicamentos_completa medicamento }{END medicamento_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$medicamento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="medicamento" {$tooltipAttr tarjeta_medicamentos_completa medicamento } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa medicamento }		</div>
	</div>
</div>


{END medicamento_fieldblock}
											
{BEGIN via_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_via}  r-vertical-field" 
	data-signal-error-for="via{$id}" {$required_attr_via}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="via" data-fieldname="via" >

	<label class="r-edit-label control-label" for="{$labelfor_via}">
		{BEGIN via_label}{$label tarjeta_medicamentos_completa via }{END via_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$via_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="via" {$tooltipAttr tarjeta_medicamentos_completa via } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa via }		</div>
	</div>
</div>


{END via_fieldblock}
											
{BEGIN dosis_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dosis}  r-vertical-field" 
	data-signal-error-for="dosis{$id}" {$required_attr_dosis}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="dosis" data-fieldname="dosis" >

	<label class="r-edit-label control-label" for="{$labelfor_dosis}">
		{BEGIN dosis_label}{$label tarjeta_medicamentos_completa dosis }{END dosis_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$dosis_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="dosis" {$tooltipAttr tarjeta_medicamentos_completa dosis } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa dosis }		</div>
	</div>
</div>


{END dosis_fieldblock}
											
{BEGIN hora_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hora}  r-vertical-field" 
	data-signal-error-for="hora{$id}" {$required_attr_hora}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="hora" data-fieldname="hora" >

	<label class="r-edit-label control-label" for="{$labelfor_hora}">
		{BEGIN hora_label}{$label tarjeta_medicamentos_completa hora }{END hora_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hora_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hora" {$tooltipAttr tarjeta_medicamentos_completa hora } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa hora }		</div>
	</div>
</div>


{END hora_fieldblock}
											
{BEGIN turno_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_turno}  r-vertical-field" 
	data-signal-error-for="turno{$id}" {$required_attr_turno}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="turno" data-fieldname="turno" >

	<label class="r-edit-label control-label" for="{$labelfor_turno}">
		{BEGIN turno_label}{$label tarjeta_medicamentos_completa turno }{END turno_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$turno_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="turno" {$tooltipAttr tarjeta_medicamentos_completa turno } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa turno }		</div>
	</div>
</div>


{END turno_fieldblock}
											
{BEGIN fecha_registro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_registro}  r-vertical-field" 
	data-signal-error-for="fecha_registro{$id}" {$required_attr_fecha_registro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="fecha_registro" data-fieldname="fecha_registro" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha_registro}">
		{BEGIN fecha_registro_label}{$label tarjeta_medicamentos_completa fecha_registro }{END fecha_registro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_registro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_registro" {$tooltipAttr tarjeta_medicamentos_completa fecha_registro } >
		<div class="text-muted" >
		{$tooltip tarjeta_medicamentos_completa fecha_registro }		</div>
	</div>
</div>


{END fecha_registro_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
